.block-rsn {
  background-color: #f2dcc5;
  z-index: 1;
  padding-top: 174px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;

  &__text {
    margin-bottom: 20px;
  }

  &__card {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

@include tablet {
  .block-rsn {
    padding: 50px 34px 50px 20px;
  }
}

@include desktop {
  .block-rsn {
    padding: 50px 100px 50px 20px;

    &__text {
      margin-bottom: 30px;
    }
  }
}
