.title {
  font-size: 24px;
  line-height: 28.8px;
  font-weight: bold;
  color: rgba(0, 11, 22, 1);
  margin-bottom: 20px;

  &--red {
    color: #bc672c;
  }

  &--grey {
    color: #42445a;
  }
}

@include tablet {
  .title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 52px;
  }
}

@include desktop {
  .title {
    font-size: 48px;
    line-height: 57.6px;
    margin-bottom: 60px;
    //margin-bottom: 69px;
  }
}
